h3 {
  margin-bottom: 2rem;
}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
  padding: 5%;
}

section {
  overflow: hidden;
  height: 100%;
}

#section1 {
  background-color: #fff;
  padding: 5%;
  transform: skew(0, -2deg); /* makes the section slanted/skewed */
}

#section2 {
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  padding: 5%;
  transform: skew(0, -2deg); /* makes the section slanted/skewed */
}

#section2 h3,
#section2 p {
  transform: skew(0, 2deg); /* eliminates skew on container's text elements */
}

#section3 {
  background-color: #1f2937;
  height: 100%;
  color: #f2f2f2;
  margin-top: -5%;
  padding-top: 8%;
  padding-bottom: 8%;
  overflow: hidden;

textarea {
  font-family: "Nunito", sans-serif;
  width: 70%;
  height: 100px;
  resize: none;
}

input {
  width: 70%;
}

label,
button,
input,
select,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  margin: 4px 0;
  padding: 6px;
}

#form-container {
  display: flex;
  justify-content: center;
}

form {
  width: 50%;
}
label {
  display: inline-block;
  width: 20%;
}
input {
  display: inline-block;
}

button {
  display: flex;
  justify-content: center;
}

.ill1 {
  max-width: 300px;
  max-height: 300px;
  z-index: 1;
  display: wrap;
  justify-self: left;
}

.ill10 {
  max-width: 300px;
  max-height: 300px;
  z-index: -1;
}
