image {
  align-items: center;
}

h2 {
  text-align: center;
  margin-top: 3.5rem;
}

p {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  border-radius: 30px;
  max-width: 65%;
  margin: 0 auto;
  font-size: 1.2rem;
}

textarea {
  font-family: "Roboto", sans-serif;
  width: 70%;
  height: 100px;
  resize: none;
}

input {
  width: 70%;
}

label,
button,
input,
select,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  margin: 4px 0;
  padding: 6px;
}

#form-container {
  display: flex;
  justify-content: center;
}

form {
  width: 50%;
}
label {
  display: inline-block;
  width: 20%;
}
input {
  display: inline-block;
}

button {
  display: flex;
  justify-content: center;
}

.ill1 {
  max-width: 300px;
  max-height: 300px;
  z-index: 1;
  display: wrap;
  justify-self: left;
}

.ill10 {
  max-width: 300px;
  max-height: 300px;
  z-index: 1;
  display: wrap;
  justify-self: right;
}
