body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 3fr 1fr 1fr 2fr 1fr;
}

header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#circle {
  border: 1px solid rgb(103, 203, 120);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  background: rgb(255, 255, 255);
  /*url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDmNmZAsFk8H8ALkvvJB51Zfs0Pfc9B1kXmA&usqp=CAU)*/
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-size: 610px;
  box-shadow: inset 8px 36px 80px 36px rgb(103, 203, 120),
    inset -6px 0 12px 4px rgba(103, 203, 120, 0.553);
  will-change: transform;
  position: relative;
}

.on {
  animation-name: breathing;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes breathing {
  0% {
    transform: scale(0.25) rotate(180deg);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.25) rotate(180deg);
  }
}

.start {
  font-size: 1.5rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 150px;
  height: 40px;
  justify-self: center;
}

.start:active {
  transform: scale(0.96);
}

p {
  font-size: 1.5rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: center;
}
ol {
  font-size: 1.5rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  text-align: center;
  list-style: decimal inside none;
}

footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  justify-self: center;
}
