.light {
  background-color: rgb(255, 255, 255);
  color: #333;
}

.dark {
  background-color: #333;
  color: rgb(255, 255, 255);
}

.meditations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  text-align: center;
  padding: 50px;
}

#morning {
  z-index: 0;
  text-align: center;
  padding: 20px;
  background: linear-gradient(
    to right,
    rgb(182, 244, 146, 0.75),
    rgb(51, 139, 147, 0.75)
  );
  border-radius: 30px;
  width: 60%;
  margin-bottom: 50px;
}
#nighttime {
  z-index: 0;
  text-align: center;
  padding: 20px;
  background: linear-gradient(
    to left,
    rgb(182, 244, 146, 0.75),
    rgb(51, 139, 147, 0.75)
  );
  border-radius: 30px;
  width: 60%;
  margin-bottom: 50px;
  position: relative;
}

#calming {
  z-index: 0;
  text-align: center;
  padding: 20px;
  background: linear-gradient(
    to right,
    rgb(182, 244, 146, 0.75),
    rgb(51, 139, 147, 0.75)
  );
  border-radius: 30px;
  width: 60%;
  margin-bottom: 50px;
  position: relative;
}

button {
  margin: 0.5rem auto;
  display: flex;
}
.ill4 {
  z-index: 1;
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  top: -130px;
  right: -120px;
}
.ill5 {
  z-index: 1;
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  top: -100px;
  left: -180px;
}

#nighttime iframe,
#calming iframe,
#morning iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 0;
}
