section {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  width: 83%;
  margin: 3rem auto;
}

.resources-container {
  max-width: 22%;
  height: 440px;
  border: 1px solid black;
  margin: 2rem 1rem;
  padding: 2rem;
  border-radius: 20px;
  transition: 0.5s;
}

.resources-container:hover {
  transform: scale(1.05);
}

.resources-container li {
  margin: 1.5rem 0;
  font-size: 1.2rem;
}

div {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, rgb(182, 244, 146),  rgba(116, 197, 204, 0.764));
  border-radius: 30px;
}
