#award-container img {
  max-width: 100px;
  height: auto;
}

main {
  max-width: 85%;
  height: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#award-container {
  width: 40%;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1rem;
}

#awards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.medals {
  max-width: 120px;
  min-width: 80px;
}

#userinfo-container,
form {
  width: 30%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1rem;
}

h2 {
  margin-bottom: 2rem;
  text-align: center;
}

p {
  font-size: 1.2rem;
}

#award-container p {
  font-size: 1rem;
}

/* Form Styling */
label {
  display: inline-block;
  width: 30%;
  text-align: center;
}

input {
  display: inline-block;
  width: 50%;
  margin: 1rem auto;
}

form button {
  display: flex;
  margin: 1rem auto;
  cursor: pointer;
}

label,
button,
input {
  font-family: "Roboto", sans-serif;
  margin: 4px 0;
  padding: 6px;
}

.hidden {
  display: none;
}
