ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.content-container {
  padding: 75px;
}

.col-container:after {
  content: "";
  display: table;
  clear: both;
}

.column-one {
  float: left;
  width: 50%;
  padding: 25px;
}

.column-two {
  float: right;
  width: 50%;
  padding: 25px;
}

.button:hover {
  background-color: #03071e;
  color: white;
}
